* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  width: 100vw;
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}


.WeatherInfoContainer {
    display: flex;
    flex-direction: column;
}

.mainContainer {
  border: none;
  height: 530px;
  width: 350px;
  z-index: 99999;
  border-radius: 1rem;
  background: linear-gradient(
    to top,
    rgb(0, 0, 0, 0.15),
    rgb(255, 255, 255, 0.15)
  );
  backdrop-filter: blur(100px);
  padding: 1vw 1vw;
}

.city-input {
  width: 100%;
  padding: 10px 1rem;
  border-radius: 100px;
  border: 3px solid transparent;
  background: rgb(0, 0, 0, 0.15);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2vw;
  outline: none;
  transition: 0.25w border;
  color: rgb(255, 255, 255, 0.75);
  padding-right: 55px;
}

.city-input:focus {
  border: 3px solid rgb(0, 0, 0, 0.15);
}
.city-input::placeholder {
  color: rgb(255, 255, 255, 0.75);
}
i {
  font-size: 2rem;
  color: rgb(255, 255, 255, 0.75);
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.searchBtn {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  background: none;
  cursor: pointer;
}
/* HEADER END */

.weatherInfo {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.LocationContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    vertical-align: bottom;
}

.LocationContainer i {
    font-size: 2vw;
}

.LocationContainer #CountryName {
    font-size: 1.6vw;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.DateContainer #CurrentDate {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1.6vw;
    color: white;
}


.weatherSummary {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0vw 1vw;
}

#TemperatureVal {
    font-size: 2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

#WeatherStatus {
    font-size: 2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.weatherSummary img {
    height: 150px;
}


.weather-SummaryDescription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: white ; 
}

.weatherState .material-symbols-outlined {
    font-size: 2.5vw;
}

.weatherState {
    display: flex;
    align-items: center;
    gap: 10px;
}

.forecast-Container {
    margin-top: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    padding-bottom: 12px;
}

.forecast-Container::-webkit-scrollbar {
    height: 8px;
}
.forecast-Container::-webkit-scrollbar-track {
    background: rgb(0,0,0,0.1);
    border-radius: 100px;
}
.forecast-Container::-webkit-scrollbar-thumb {
    background: rgb(0,0,0,0.15);
    border-radius: 100px;
}

.forecast-Item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    min-width: 100px;
    padding: 10px;
    background: rgb(255,255,255,0.1);
    border-radius: 10px;
    transition: all 0.3s;
}

.forecast-Item img {
    width: 35px;
    height: 35px;
}

.forecast-Item:hover {
    background: rgb(255,255,255,0.15) ;
}

/* Message Indicators  */
.section-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .6rem;
}

.message-img {
    margin-top: 3rem;
    height: 250px;
    width: 300px;
}

.section-message div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.section-message div h1 {
    font-size: 3vw;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.section-message div h4 {
    text-align: center;
    font-size: 1.5vw;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}


@media (max-width:800px) {
    .inputContainer {
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 2vw 2vw;
    }
    .inputContainer input{
        font-size: 8vw;
    }
    .inputContainer .searchBtn i {
        font-size: 10vw;
    }
    .section-message div h1 {
        font-size: 10vw;
    }
    .section-message div h4 {
        font-size: 4vw;
        padding: 0 10vw;
    }
    .WeatherInfoContainer {
        padding: 1vw 5vw;
    }
    .WeatherInfoContainer .LocationContainer i {
        font-size: 10vw;
    }

    .WeatherInfoContainer .LocationContainer #CountryName {
        font-size: 5vw;
    }
    .WeatherInfoContainer .DateContainer #CurrentDate {
        font-size: 5vw;
    }

    .Description #TemperatureVal , 
    #WeatherStatus {
        font-size: 7vw;
    }
    
    .weatherState .material-symbols-outlined {
        font-size: 8vw;
    }
    
}

