@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&family=Permanent+Marker&display=swap");

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 200px;
  /* margin-top: 15%; */
  display: flex;
  height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow: 2px 4px 10px rgba(0,0,0,0.3);
  border-radius: 20px;
  padding: 0vw 3vw;
}

.container.hide {
  margin-top: 0;
  height: 530px;
}

.container .btn {
    font-size: 2vw;
    padding: .6vw 1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    border: none;
    border: 2px solid rgba(0,0,0,0.3) ;
    border-radius: 10px;
    transition: all ease-in-out 0.2s;
}

.container .btn:hover {
    background-color: rgb(179, 234, 179);
}

.container h1 {
  font-size: 3vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

.animeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0 ;

  opacity: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.animeContainer.show {
  display: flex;
  opacity: 1;
}

.animeContainer p {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-size: 4.5vw;
  color: rgb(92, 88, 80);
}

img {
  height: 200px !important;
  width: 200px !important;
  margin-top: 5rem;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.3);
}

@media (max-width:900px) {
  body {
    display: flex ; 
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 80%;
    height: 180px;
    padding: 0vw 3vw;
    margin-top: 30vh;
  }
  .container h1 {
    font-size: 7vw;
  }
  .container #btn {
    margin-top: 2rem;
    font-size: 6vw;
    padding: 1vw 3vw;
    background-color: rgb(179, 234, 179) ;
  }
  .container.hide {
    margin-top: 40%;
    height: 500px;
  }
  .animeContainer p {
    font-size: 10vw;
  }
  .animeContainer img {
    margin-top: 3rem;
  }
}