* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body , html {
    width: 100%;
    background-color: azure; 
}

.Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 5rem;
}

.Container h1 {
    font-size: 6vw;
    text-transform: uppercase;
}

.Container p {
    font-size: 4vw;
    text-transform: capitalize;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.Container .buttons button {
    cursor: pointer;
    height: 100px;
    width: 100px;
    font-size: 5vw;
    border: none;
    border-radius: 5px;
    transition: background-color ease-in 0.2s;
}

#rock:hover {
    background-color: rgb(219, 75, 75);
}

#paper:hover {
    background-color: rgb(20, 170, 230);
}

#scissors:hover {
    background-color: rgb(57, 189, 57);
}

.scores {
    font-size: 2vw;
    display: flex;
    gap: 3rem;
}

#user-score {
    color: rgb(33, 33, 234);
}

#computer-score {
    color: rgb(247, 46, 46);
}

@media (max-width:600px) {
    .Container {
        margin-top: 50%;
        gap: 2rem;
    }
    .Container p {
        font-size: 6vw;
    }
    .Container .buttons button {
        font-size: 10vw;
    }
    .scores {
        font-size: 5vw;
    }
}