* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1vw 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: rgb(248, 246, 248);
}

.imageContainer img {
    object-fit: cover;
    object-position: center;
    margin: 5px;
    height: 300px;
    width: 300px;
    border-radius: 2rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: all ease-in 0.1s;
}

.btn {
    background-color: rgb(136, 136, 241);
    border: none;
    padding: 1vw 2vw;
    font-size: 1.5vw;
    border-radius: 5px;
    color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    text-transform: capitalize;
    cursor: pointer;
}

.btn:hover {
    opacity: .9;
} 

.imageContainer img:hover {
    transform: scale(1.01);
}

@media (max-width:600px) {
    body {
        flex-wrap: wrap ;
        padding: 3vw 3.2vw;
    }
    .imageContainer img {
        width: 170px;
        height: 170px;
    }
    .btn {
        font-size: 6vw;
        padding: 1vw 4vw;
    }
}