* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: azure;
}

.container {
    width: 320px;
    background-color: #94B4C1;
    padding: 1rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#Result {
    grid-column: span 4;
    height: 80px;
    font-size: 2.5rem;
    text-align: right;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: whitesmoke;
    color: cornflowerblue;
}

.Button {
    height: 60px;
    background-color: white;
    border-radius: 30px;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
}

.Button:active {
    transform: scale(0.95);
}

.zero {
    grid-column: span 2;
}

.equals {
    background-color: cornflowerblue;
    color: white;
    font-size: 2rem;
}
