* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  height: 100%;
}

img {
  height: 3.125rem;
  width: 6.25rem;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.clock {
  position: relative;
  height: 350px;
  width: 350px;
  background-color: white;
  border: 5px solid rgba(0, 0, 0, 0.7);
  border-radius: 50%;
}

.twelve {
  top: 6px;
  left: 49%;
  transform: translateX(-50%);
}

.three {
  top: 50%;
  right: 10px;
   transform: translateY(-50%);
}

.six {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.nine {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.numbers div {
  position: absolute;
  font-size: 3vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}


.arrows {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrows::before {
content: "";
height: 1rem;
width: 1rem;
background-color: darkgreen;
border-radius: 50%;
}

.arrows div {
    background-color: black;
    width: 7px;
    position: absolute;
    height: 120px;
    transform-origin: bottom center;
    bottom: 50%;
    z-index: 3;
    border-radius: 50% 50% 0 0 ;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}

.arrows .hour {
    height: 80px;
}

.arrows .second {
    background-color: goldenrod;
}


@media (max-width:600px) {
  .clock .numbers div {
    font-size: 10vw;
  }
}