* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body , html {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1.5rem;
    padding-top : .6rem;
    padding-bottom: 5px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 10px;
    margin-top: 0;
    height: 500px;
    width: 500px;
}

.RowItems {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.RowItems .box {
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vw;
    height: 140px;
    width: 140px;
    background-color: #001F3D;
    border-radius: 1rem;
    color: azure;
}

#resultTxt {
    font-weight: 400;
    margin-left: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3.5vw;
    text-transform: capitalize;
    color: black;
    vertical-align: bottom;
}
#resultTxt span {
    font-size: 3vw;
    vertical-align: bottom;
}
#gameName {
    font-size: 6vw;
    font-family: cursive;
    text-transform: capitalize;
}

#resetBtn {
    position: absolute;
    top: 10%;
    right: 2%;
    background-color: rgb(215, 81, 108);
    border: none;
    padding: .8vw 1.2vw;
    font-size: 1.5vw;
    border-radius: 1rem;
    color: white;
    text-transform: capitalize;
}

#startBtn {
    position: absolute;
    top: 0;
    right: 2%;
    background-color: rgb(128, 128, 229) ;
    border: none;
    padding: .8vw 1.6vw;
    font-size: 1.5vw;
    border-radius: 1rem;
    color: white;
    text-transform: capitalize;
}

#startBtn:active {
    opacity: .8;
    border: 2px solid rgb(0,0,0,0.7);
}

#resetBtn:active {
    opacity: .8;
    border: 2px solid rgb(0,0,0,0.7);
}


@media (max-width:900px) {
    body {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
        overflow-x: hidden;
    }
    #resultTxt {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 5rem;
        text-align: center;
        font-size: 10vw;
        padding: 0 20px;
        margin-left: 0;
        color: black;
    }
    #resultTxt span {
        font-size: 8vw;
    }
    .mainContainer {
        margin-top: 10vw;
        padding: 0vw 10px;
        height: 350px;
        width: 100%;
    }
    .RowItems .box {
        height: 120px;
        width: 120px;
        font-size: 20vw;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #startBtn {
        font-size: 5vw;
        top: 15%;
        left: 1rem;
        width: 35vw;
        height: 13vw;
        margin-left: 10px;
        border-radius: 2rem;
    }
     #resetBtn {
        position: absolute;
        top: 15%;
        font-size: 5vw;
        width: 35vw;
        height: 13vw;
        margin-right: 10px;
        border-radius: 2rem;
    }
}